@font-face {
    font-family: 'НorizontMedium';
    src: url('OTF/ALSGorizont-MediumExpanded.otf');
    }
@font-face {
    font-family: 'НorizontBold';
    src: url('OTF/ALSGorizont-BoldExpanded.otf');
    }
@font-face {
    font-family: 'НorizontRegular';
    src: url('OTF/ALSGorizont-RegularExpanded.otf');
    }     
    
*{
    padding: 0;
    margin: 0;
    font-family: "Golos Text", sans-serif;
}

.container{ 
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

/* __________________________________header_________________________________________________ */

.header{
    background-color: #FFFFFF;
}

.header_container{
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}

.header_logo{
    max-width: 355px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-list {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

.nav-link{
    color: #000000;
    font-family: "НorizontRegular";
    font-size: 16px;
    cursor: pointer;
    padding: 0 10px;
    text-decoration: none;
}

.burger {
    display: none;
    /* display: flex; */
    justify-content: space-between;
    flex-direction: column;
    width: 40px;
    height: 26px;
    margin: auto 0;
  }
  
.burger-line {
    background-color: #000000;
    width: 40px;
    height: 3px;
    transition-duration: 0.7s;
}

/* __________________________________main_________________________________________________ */

.section{
    border-radius: 40px 40px 0 0;
    min-height: 570px;
}
  
.section:nth-child(2n) {
    background-color: #fafafa;
}

.section:nth-child(2n + 1):not(:first-child) {
    margin-top: -40px;
    background-color: #ffffff;
}

.section:nth-child(1){
    background-color: #ffffff;
}

.section-container {
    max-width: 1200px;
    display: flex;
    padding: 60px 10px;
}

/* __________________________________about_us_________________________________________________ */

.about_us-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-title {
    font-family: "НorizontBold";
    font-size: 36px;
    line-height: 130%;
    margin: 0 20px 20px 20px;
}

.add-text {
    font-size: 20px;
    color: #939393;
    line-height: 160%;
    margin: 20px;
}

.green-btn {
    background-color: #d0ff14;
    border-radius: 100px;
    border: none;
    padding: 15px 35px;
    font-family: "НorizontRegular";
    font-size: 16px;
    cursor: pointer;
    margin: 35px 20px;
}

.slider {
    max-width: 520px;
    overflow: hidden;
    border-radius: 40px;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.slide-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 40px;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: transform 0.5s ease;
}

.slide:hover img {
    transform: scale(1.05);
}

.dots {
    text-align: center;
    margin-top: 15px;
}
.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: #d9d9d9;
    cursor: pointer;
}

.active-dot {
    background-color: #d0ff14;
}

/* __________________________________footer_________________________________________________ */

.footer{
    padding-top: 10px;
    background-color: #000000;
    font-size: 12px;
    line-height: 19px;
}

.footer_left{
    width: 430px;
}

.left_text{
    margin-top: 30px;
    padding-bottom: 10px;
}

.footer_logo{
    width: 270px;
    height: 100px;
    margin: 0 auto;
}

.footer_right{
    width: 400px;
}

.right_title{
    float: right;
}

.right_subtitle{
    float: right;
}

.text_link{
    color: #2F0D39;
}

/* __________________________________media_________________________________________________ */

@media (device-width< 480px){
    .nav{
        display: none;
    }
}